.about-page-container {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-page-title {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: 120px;
  text-align: center;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
}

.about-page-section {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 70px;
  width: 100%;
  text-align: justify;
}

.about-page-section li {
  padding: 10px;
}

.about-page__section-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
}

.technologies-logo {
  padding-right: 10px;
  height: 30px;
}

.technologies-and-tools li {
  list-style: none;
}

.skills-icons {
  margin-right: 10px;
}
