.contact-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.contact-page-container h4 {
  padding-bottom: 40px;
  font-family: "Josefin Sans", sans-serif;
}

.contact-page-form-container,
.contact-page-form {
  text-align: center;
}

.contact-page-form {
  width: 500px;
  height: auto;
}

.contact-page-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 100px;
  width: 400px;
}

#contact-details {
  margin: 0;
}

.gmap-cj {
  padding-top: 20px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
