.experience-container {
  margin-left: 250px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  /* padding-top: 200px; */
}
