.experience-container {
  margin-left: 210px;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.accordion {
  width: 1000px;
}

.era-container,
.era-container-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.era-container,
.galt-era-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.galt-era-container {
  display: flex;
  align-items: center;
  padding-left: 80px;
  position: relative;
}

.era-container-first {
  padding-bottom: 60px;
}

.experience-title {
  margin-left: 50px;
  font-size: 16px;
  font-weight: bold;
}

.experience-details {
  padding: 10px;
}

.experience-details li {
  padding: 10px;
}

#experience-page-title {
  text-align: center;
  font-size: 22px;
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "Josefin Sans", sans-serif;
}

.experience-image-container {
  background-color: transparent;
  width: 180px;
  height: 240px;
  padding-right: 80px;
}

.experience-image-research {
  width: 170px;
}

#scit-image {
  height: 150px;
}

.wide-logo-image {
  width: 300px;
  padding-left: 20px;
}

.galt-experience-details {
  width: 600px;
}

.galt-image-container {
  width: 430px;
}

.galt-logo-container {
  text-align: center;
}

#galt-logo {
  width: 150px;
  padding-bottom: 20px;
}

.card,
.card-header {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 15px;
  margin-top: 15px;
}

.card {
  box-shadow: 0 2px 20px 0 rgba(110, 130, 208, 0.18);
}

.card-header:hover {
  cursor: pointer;
  color: #61dbfb;
}
