.header-container {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  /* background: url("http://api.thumbr.it/whitenoise-361x370.png?background=ede8edff&noise=626262&density=26&opacity=16"); */
}

.buttons-container {
  flex: 2;
  font-family: "Josefin Sans", sans-serif;
}

.buttons-container ul {
  list-style-type: none;
}

/* .menu-list {
  display: flex;
  flex-direction: column;
  position: relative;
} */

.buttons-container li {
  margin-bottom: 20px;
  text-align: end;
  /* position: absolute; */
  font-size: 20px;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
}

.top,
.bottom {
  flex: 1;
}

.top {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
}

.bottom {
  width: 150px;
}

.media-icons {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  border-top: 1px solid darkgray;
  font-size: 12px;
  text-align: center;
}

.copyright p {
  margin-bottom: 0;
  margin-top: 5px;
}

#rights-paragraph {
  margin-top: 0;
}

.menu-buttons {
  text-decoration: none;
  color: rgb(102, 100, 100);
  transition-duration: 0.3s;
}

.menu-buttons:hover,
.menu-buttons:active {
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.media-icons a {
  color: black;
}
