.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  width: 200px;
}

.buttons-container {
  flex: 2;
  font-family: "Josefin Sans", sans-serif;
}

.buttons-container ul {
  list-style-type: none;
}

.menu-list {
  width: 150px;
}

.buttons-container li {
  margin-bottom: 20px;
  text-align: end;
  font-size: 19px;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
}

.top,
.bottom {
  flex: 1;
}

.top {
  display: flex;
  width: 150px;
  font-family: "Josefin Sans", sans-serif;
}

.bottom {
  padding-top: 80px;
  width: 150px;
}

.media-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.copyright {
  border-top: 1px solid darkgray;
  text-align: center;
  font-size: 12px;
}

.copyright p {
  margin-bottom: 0;
  margin-top: 5px;
}

#rights-paragraph {
  margin-top: 0;
}

.menu-buttons {
  text-decoration: none;
  color: rgb(102, 100, 100);
  transition-duration: 0.3s;
}

.menu-buttons:hover,
.menu-buttons:active {
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-decoration: underline;
}

.media-icons a {
  color: black;
}
