.education-container {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.era-container,
.era-education-container-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.era-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.era-education-container-first {
  padding-bottom: 60px;
}

.education-details {
  padding-right: 50px;
  padding-left: 50px;
  width: 700px;
}

.hidden-message {
  font-weight: bolder;
  color: darkblue;
}

.education-title {
  margin-left: 50px;
  font-size: 16px;
  font-weight: bold;
}

.education-details li {
  padding: 10px;
}

#education-page-title {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
}

.education-image {
  height: 70px;
}

.education-place-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
